# Dependencias de Node
node_modules/

# Archivo de variables de entorno (¡Contiene secretos!)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db